<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
    .bold-400{
        font-size: 1em;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        font-family: Calibri;
    }
    .center{
        text-align: center;
    }
    .border-box {
        border: 2px solid black;
        padding: 1%;
        font-weight: 600;
    }
    .section-title{
        text-decoration: underline;
        font-weight: 600;
    }
    .signs-pad {
        padding-right: 2%;
        text-decoration: overline;
    }
    .name {    padding-left: 485px;
    /* top: 5px; */
    margin-top: -15px;
    position: absolute;
}
.date {
    padding-left: 308px;
    position: absolute;
    margin-top: -15px;
}

.top-title{
    color: #3174B9 !important;
    font-size: 1.2em !important;
}
.center-text {
text-align : center
}

    </style>
</head>
<body>


    <div class="container">

        <br>
        <br>
        <div class="bold-400 top-title">CONSENT FOR RESEARCH</div>
        <div class="bold-400 center top-title">The Pennsylvania State University</div>
        <br>
        <div class="center-text">Title of Project: CAREER: Multiscale Modeling of Axonal Fiber Bundles in the Brain</div>
        <div class="center-text">    Principal Investigator: Dr. Reuben H. Kraft</div>
        <div class="center-text">Address: 320 Leonhard Building, University Park, PA 16802</div>
        <div class="center-text">Telephone Number: 814-867-4570</div>
        <br>
        <div ><span class="cls_004">Subject’s Printed Name: <span style="
    text-decoration: underline;
"><%-user_data.first_name%> <%-user_data.last_name%></span></span></div>

        <br>
        <div style="border : none ; padding : 0px;" class="border-box">
            <p>
                We are asking you to be in a research study. This form gives you information about the research.
                Whether or not you take part is up to you. You can choose not to take part. <br>You can agree to take part
                and later change your mind. Your decision will not be held against you.
                <br>
                Please ask questions about anything that is unclear to you and take your time to make your choice.</p>
            </div>

            <br>
            <p>
                Some of the people who are eligible to take part in this research study may not be able to give consent
                because they are less than 18 years of age (a minor). Instead we will ask their parent(s)/guardian(s) to
                give permission for their participation in the study, and we may ask them to agree (give assent) to take
                part. Throughout the consent form, “you” always refers to the person who takes part in the research
                study.
            </p>
            <br>
            <ol>
                <li style="font-weight:bold">
                    <div style="font-weight:bold" >Why is this research study being done?</div>
                    <span style="font-weight:normal">
                        <p>
                            We are asking you to be in this research because we want to understand more about head
                            acceleration events in sports and more broadly how engineering might improve safety for players.
                            This research is being done to find out if the combination of sports sensors and modeling can help us
                            understand head acceleration events better.
                            This study may enroll up to 500 athletes and non-athletes.
                            The data obtained from this study could provide potentially useful information for the quantitative
                            diagnosis of brain injury. However, this technology can make no formal diagnosis at this time and does
                            not claim to be a diagnostic tool. Subjects are directed to a medical professional for a formal diagnosis
                            of injury.
                        </p>
                    </span>
                </li>
                <li style="font-weight:bold">
                    <div style="font-weight:bold" >What will happen in this research study?</div>
                    <span style="font-weight:normal">
                        <p>
                            In this research subjects will be asked to wear the impact sensors. The impact sensors monitor/record every
                            significant incidence of head impact (single or multiple impacts) sustained during the game or practice. They
                            measure the magnitude (both linear and rotational acceleration), location, direction and duration as well as
                            the exact time of each impact. Subjects may also be asked to get an MRI scan at the beginning of season and
                            after the subject experienced concussion. Also note the following items:
                        </p>
                        <ul>
                            <li>screening procedures that occur after signing the consent form - you will be asked some questions.</li>
                            <li>screening procedures that occur after signing the consent form - you will be asked some questions.</li>

                            <li>If a significant head impact occurs during the study, participants should consult with a medical
                                physician who can provide a medically acceptable comparison. If a concussion or mild traumatic brain
                                injury is diagnosed, participates will share outcome of diagnosis with study team.</li>

                            </ul>
                            <br>
                            <p>
                                If you are a non-athlete (a control in the study) you will not be wearing sensors or
                                participant in contact sports. You may only be needed for brain imaging taken at the
                                same time as the subjects playing contact sports so a comparison can be made.
                            </p>
                        </span>
                    </li>
                    <li style="font-weight:bold">

                        <div>What are the risks and possible discomforts from being in this research study?</div>
                        <span style="font-weight:normal">
                            <p>
                                There is a risk of loss of confidentiality if your information or your identity is obtained by someone other
                                than the investigators, but precautions will be taken to prevent this from happening. The confidentiality
                                of your electronic data created by you or by the researchers will be maintained to the degree permitted
                                by the technology used. Absolute confidentiality cannot be guaranteed.
                            </p>
                            <span >
                            </li>
                            <li style="font-weight:bold">
                                <div>What are the possible benefits from being in this research study?</div>
                                <div>4a. What are the possible benefits to you?</div>
                                <span style="font-weight:normal">
                                    <p>
                                        Your taking part in this research participation provides the investigator(s) with a greater
                                        understanding of how the brain recovers from mild brain injury, which will contribute to scientific
                                        knowledge and may be useful in the development of beneficial clinical treatments of mild traumatic
                                        brain injury. This research, in fact, benefits subjects (players) by letting the physical/sports trainer
                                        know if the impact levels during a game are too high.
                                    </p>
                                </span>
                                <div>4b. What are the possible benefits to others?</div>
                                <span style="font-weight:normal">
                                    <p>
                                        The benefits to society include better understanding the possible consequences of concussion and
                                        predicting whether or not individuals are at high risk for concussion.
                                    </p>
                                </span>

                            </li>
                            <li style="font-weight:bold">
                                <div>What other options are available instead of being in this research study?</div>
                                <span style="font-weight:normal">
                                    <p>
                                        You may decide not to participate in this research.
                                    </p>
                                </span>
                            </li>
                            <li style="font-weight:bold">
                                <div>How long will you take part in this research study?</div>
                                <span style="font-weight:normal">
                                    <p>
                                        Being in this research study may require some additional time on your part. For example, magnetic
                                        resonance imaging before the start of the season and after a head injury event is required. Each
                                        scan would last about 1 hour, so an estimated 2 hours plus travel time would be required.
                                    </p>
                                </span>
                            </li>
                            <li style="font-weight:bold">
                                <div>How will your privacy and confidentiality be protected if you decide to take part in this research
                                    study?</div>
                                    <span style="font-weight:normal">
                                        <p>
                                            Efforts will be made to limit the use and sharing of your personal research information to people who
                                            have a need to review this information. Participation information of the subject in this research is
                                            sensitive. All possible steps have been taken to assure subjects’ privacy. For all procedures, subjects will
                                            be assigned a code number that will be used throughout the session. Only this code (and never a
                                            name) will be used when analyzing or reporting the data. Any identifying information will be kept in a
                                            locked (physical and cyberspace) location and password-protected electronic files. The Pennsylvania
                                            State University’s Office for Research Protections, the Institutional Review Board, and the Office for
                                            Human Research Protections in the Department of Health and Human Services may review records
                                            related to this research study. All the biomechanical readings and the MRI data will be coded properly
                                            saved and secured. Only you (as the participant) the PI and his research team will have access to the
                                            participant’s identity and access to the data. All records associated with a subject’s participation in the
                                            study will be subject to the usual confidentiality standards applicable to medical records (e.g., such as
                                            records maintained by physicians, hospitals, etc.). In the event of any publication resulting from the

                                            research, no personally identifiable information will be disclosed. In the event of any publication or
                                            presentation resulting from the research, no personally identifiable information will be shared.
                                            We will do our best to keep your participation in this research study confidential to the extent
                                            permitted by law. However, it is possible that other people may find out about your participation in this
                                            research study. For example, the following people/groups may check and copy records about this
                                            research.
                                        </p>
                                        <ul>
                                            <li>The Office for Human Research Protections in the U. S. Department of Health and Human
                                                Services</li>
                                                <li>The research study sponsor, National Science Foundation.</li>

                                                <li>The Institutional Review Board (a committee that reviews and approves research studies) and</li>
                                                <li>The Office for Research Protections.</li>
                                                <li>U.S. Food and Drug Administration (FDA)</li>

                                            </ul>
                                            <br>
                                            <p>
                                                Some of these records could contain information that personally identifies you. Reasonable efforts will
                                                be made to keep the personal information in your research record private. However, absolute
                                                confidentiality cannot be guaranteed.
                                            </p>
                                            <br>
                                            <p >
                                                Note that when data is collected from the sensor, the data will originally be stored on the sensor
                                                company servers before being transferred to Penn State. Furthermore, this data may also be used in
                                                accordance with their internal privacy policies unrelated to research purposes.
                                            </p>
                                        </span>
                                    </li>
                                    <li style="font-weight:bold">
                                        <div>What are the costs of taking part in this research study?</div>
                                        <div>8a. What will you have to pay for if you take part in this research study?</div>
                                        <span style="font-weight:normal">
                                            <p>
                                                There are no costs associated with the participation for the subjects.
                                            </p>
                                        </span>
                                        <div>8b. What happens if you are injured as a result of taking part in this research study?</div>
                                        <span style="font-weight:normal">
                                            <p>
                                                In the unlikely event you become injured as a result of your participation in this study, medical care
                                                is available. It is the policy of this institution to provide neither financial compensation nor free
                                                medical treatment for research-related injury. By signing this document, you are not waiving any
                                                rights that you have against The Pennsylvania State University for injury resulting from negligence of
                                                the University or its investigators.
                                            </p>
                                        </span>
                                    </li>
                                    <li style="font-weight:bold">
                                        <div>Will you be paid or receive credit to take part in this research study?</div>
                                        <span style="font-weight:normal">
                                            <p>
                                                You will not be paid to participate in this research study.
                                            </p>
                                        </span>

                                    </li>
                                    <li style="font-weight:bold">
                                        <div>Who is paying for this research study?</div>
                                        <span style="font-weight:normal">
                                            <p>
                                                The National Science Foundation is paying for this study.
                                                <br>
                                                Kraft has a financial interest in Digital Brain Technologies, a company which could potentially benefit
                                                from the results of this research. This interest has been reviewed by Penn State University in
                                                accordance with its Individual Conflict of Interest policy for the purpose of maintaining the objectivity
                                                and integrity in research and is being managed. No data used in this study will be used with the
                                                company.
                                            </p>
                                        </span>

                                    </li>
                                    <li style="font-weight:bold">
                                        <div>What are your rights if you take part in this research study?</div>
                                        <span style="font-weight:normal">
                                            <div>Taking part in this research study is voluntary.</div>

                                            <ul>
                                                <li>You do not have to be in this research.</li>
                                                <li>If you choose to be in this research, you have the right to stop at any time.</li>

                                                <li>If you decide not to be in this research or if you decide to stop at a later date, there will be no
                                                    penalty or loss of benefits to which you are entitled.</li>
                                                    <li>Note that all data collected up to the point of withdrawal remains part of the study
                                                        database and may not be removed.</li>

                                                    </ul>
                                                </span>

                                            </li>
                                            <li style="font-weight:bold">
                                                <div>If you have questions or concerns about this research study, whom should you call?</div>
                                                <span style="font-weight:normal">
                                                    <p>
                                                        Please call the head of the research study (principal investigator), Reuben Kraft at 814-867-4570 if you:
                                                    </p>
                                                    <ul>
                                                        <li>Have questions, complaints or concerns about the research.</li>
                                                        <li>Believe you may have been harmed by being in the research study.</li>
                                                    </ul>
                                                    <br>
                                                    <div>You may also contact the Office for Research Protections at (814) 865-1775, ORProtections@psu.edu
                                                        if you:
                                                    </div>
                                                    <ul>
                                                        <li>Have questions regarding your rights as a person in a research study.</li>
                                                        <li>Have concerns or general questions about the research.</li>
                                                        <li>You may also call this number if you cannot reach the research team or wish to offer input or
                                                            to talk to someone else about any concerns related to the research.</li>
                                                        </ul>
                                                    </span>
                                                </li>

                                            </ol>
                                            <div class="section-title">INFORMED CONSENT TO TAKE PART IN RESEARCH</div>
                                            <br>
                                            <div class="section-title">Signature of Person Obtaining Informed Consent</div>
                                            <br>
                                            <p>
                                                Your signature below means that you have explained the research to the subject or subject
                                                representative and have answered any questions he/she has about the research.
                                            </p>
                                            <br>
                                            <br>
                                            <div>
                                                Signature of Person Explaining Research
                                                <div style="border: 2px grey solid;" ><img height="100px" width="100%" src=<%-user_data.subject_signature%> ></div><hr>
                                            </div>
                                            <div>

                                              <div >
                                                Subject Name : Reuben Kraft</div>
                                              <div >
                                                Date : <%-user_data.date%>
                                              </div>
                                            </div>
                                            <div>(Only approved investigators for this research may explain the research and obtain informed consent.)</div>
                                            <br>
                                            <div>
                                                <span class="section-title">Signature of Person Giving Informed Consent</span>
                                                <div>Before making the decision about being in this research you should have:</div>
                                                <ul>
                                                    <li>Discussed this research study with an investigator,</li>
                                                    <li>Read the information in this form, and</li>
                                                    <li>Had the opportunity to ask any questions you may have.</li>

                                                </ul>
                                                <p>
                                                    Your signature below means that you have received this information, have asked the questions you currently have about the research and those questions have been answered. You will receive a copy of the signed and dated form to keep for future reference.

                                                </p>
                                                <div>
                                                Signature of Person Giving Informed Consent
                                                <div style="border: 2px grey solid;" ><img height="100px" width="100%" src=<%-user_data.user_signature%> ></div><hr>
                                            </div>
                                            <div>

                                              <div >
                                                Subject Name : <%-user_data.first_name%> <%-user_data.last_name%></div>
                                              <div >
                                                Date : <%-user_data.date%>
                                              </div>
                                            </div>
                                            </div>


                                            <br>




                                            <div>
                                                <span class="section-title">Signature of Subject (Only signed if 18 and over)</span>
                                                <p>By signing this consent form, you indicate that you voluntarily choose to be in this research and agree to allow your information to be used and shared as described above. </p>
                                                <br>
                                                <br>
                                                <div>
                                                <div >

                                                    Signature of Subject
                                                    </div>
                                                    <div style="border: 2px grey solid;" ><img height="100px" width="100%" src=<%-user_data.user_signature%> ></div>
                                                    <hr>

                                                </div>

                                                <div>

                                                  <div >

                                                    Subject Name : <%-user_data.first_name%> <%-user_data.last_name%>
                                                    </div>
                                                  <div >
                                                    Date : <%-user_data.date%>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div >
                                                <span class="section-title">Signature of Parent(s)/Guardian for Child</span>
                                                <p>
                                                    By signing this consent form, you indicate that you permit your child to be in this research and agree to
                                                    allow his/her information to be used and shared as described above.
                                                </p>
                                                <br>
                                                <br>
                                                <% if(user_data.guardian_first_name){ %>
                                                    <div>
                                                        Signature of Guardian
                                                        <div style="border: 2px grey solid;" ><img height="100px" width="100%" src=<%-user_data.guardian_signature%> ></div><hr>

                                                    </div>
                                                <% } else{ %>
                                                    <div></div>
                                                <% } %>


                                                <div>
                                                <% if(user_data.guardian_first_name){ %>


                                                  <div>
                                                    Name : <%-user_data.guardian_first_name%> <%-user_data.guardian_last_name%></div>
                                                    <div >
                                                    Date : <%-user_data.date%>
                                                  </div>

                                                <% } else{ %>
                                                    <div></div>
                                                <% } %>




                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div style="page-break-before: always;"></div>
                                            <div class="section-title center">ASSENT FOR RESEARCH</div>
                                            <br>
                                            <p>
                                                The optional part(s) of the research study has been explained to you. You have had a chance to ask
                                                questions to help you understand what will happen. You Do Not have to be in the optional part(s) of the
                                                research study. If you agree to participate and later change your mind, you can tell the researchers, and the
                                                optional part(s) of the research will be stopped.
                                            </p>
                                            <br>
                                            <div>
                                                <span >You have decided: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <span class="section-title">(initial one)</span></span>
                                                <span >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp <input type="checkbox" name="gender" value="male" checked> To take part in the research.</span>
                                                <div style="padding-left: 505px"><input type="checkbox" name="gender" value="male" > NOT to take part in the research.</div>

                                            </div>

                                            <br>
                                            <br>
                                            <br>
                                            <div>
                                                Signature of Subject
                                                <div style="border: 2px grey solid;" ><img height="100px" width="100%" src=<%-user_data.user_signature%> ></div><hr>

                                            </div>


                                            <div>


                                                <div >

                                                  Name : <%-user_data.first_name%> <%-user_data.last_name%>
                                                </div>
                                                <div >

                                                  Date : <%-user_data.date%>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>

                                        </div>

                                    </body>
                                    </html>
